<label ng-if="element.title" for="element-{{form.name}}-{{element.name}}">{{element.title}}</label>
<div class="controls" ng-controller="ReferenceElementController">
  <div ng-if="element.reference.multiple" ng-repeat="(optionKey, option) in element.options" class="checkbox">
    <label>
      <input ng-checked="data[element.name].indexOf(fruitName) > -1" ng-click="toggleSelection(optionKey)" type="checkbox" value="optionKey">
      {{element.reference.titleField ? option[lement.reference.titleField] : option.title}}
    </label>
  </div>
  <div ng-if="!element.reference.multiple" ng-repeat="(optionKey, option) in element.options" class="radio">
    <label>
      <input ng-model="data[element.name]" type="radio" name="element.name" value="{{optionKey}}">
      {{element.reference.titleField ? option[lement.reference.titleField] : option.title}}
    </label>
  </div>
</div>
