<div ck-element class="form-group">
  <label ng-if="element.title" for="{{element.id}}">{{element.title}}</label>
  <input ng-model="data[element.name]" ng-required="element.required" ng-model-options="{debounce: 250}" type="text" class="form-control" name="{{element.name}}" id="{{element.id}}" placeholder="{{element.placeholder}}">
  <p ng-if="element.description" class="help-block">{{element.description}}</p>
  <div ng-messages="elementScope.$error" ng-if="formScope.$submitted || elementScope.$touched">
    <p ng-message="required" class="help-block">This field is required.</p>
  </div>
</div>
