<div ng-class="page.class" class="page" ng-controller="PageController">
  <div ng-if="page.title" class="page-header">
    <h1>{{page.title}} <small ng-if="page.subtitle">{{page.subtitle}}</small>
      <div ng-repeat="panel in panels['page-header'] | orderBy:'weight'" ng-controller="PanelController" ng-include="template" class="panel-wrapper pull-right"></div>
    </h1>
  </div>
  <p ng-if="page.description" class="lead">{{page.description}}</p>

  <div ng-repeat="panel in panels['page-top'] | orderBy:'weight'" ng-controller="PanelController" ng-include="template" class="panel-wrapper"></div>

  <div ng-if="page.template" ng-include="page.template"></div>
  <div ng-if="!page.template" ng-bind-html="page.content" class="page-content"></div>
</div>
