<!-- Sections -->
<div ng-repeat="sectionName in notSorted(layout.layout.sections)" ng-init="section = layout.layout.sections[sectionName]" class="section section-{{sectionName}} container">
  <!-- Zones -->
  <div ng-repeat="zoneName in notSorted(section)" ng-init="zone = section[zoneName]" class="zone zone-{{zoneName}} row-fluid">
    <!-- Regions -->
    <div ng-repeat="regionName in notSorted(zone)" ng-init="region = zone[regionName]" ng-controller="RegionController" class="region region-{{regionName}} col-md-{{region.width}}">
      <div class="region-name">{{regionName}}</div>
      <!-- Panels -->
      <div ng-repeat="panel in panels[regionName]" ng-controller="PanelController" class="panel-wrapper">
        <!-- This is broken in AngularJS 1.2RC3
        <div ng-if="panel.panel.bare" ng-include="panel.panel.template"></div>
        <div ng-if="!panel.panel.bare" ng-include="'templates/panel.html'"></div>
        -->
        <div ng-include="panel.panel.bare && panel.panel.template"></div>
        <div ng-include="!panel.panel.bare && 'templates/panel.html'"></div>
      </div>
    </div>
  </div>
</div>
