.header .row-fluid {
  padding-bottom: 9px;
  margin: 20px 0;
  border-bottom: 1px solid #eeeeee;
}
.header .search .input-append {
  margin-top: 20px;
}
.header .search .input-append input {
  font-size: 21px;
}
.header .search input[type="text"] {
  height: 40px;
}
.header .search .btn {
  line-height: 40px;
  font-size: 21px;
}
.header .user .btn-group {
  margin-top: 15px;
}

.content .nav-tabs {
  margin-bottom: 20px;
}

.content .media {
  margin-bottom: 20px;
}

.negative {
  color: red;
}

/* Hide region names and app version */
.region-name {
  display: none;
}
.app-version {
  display: none;
}
