.header .row-fluid {
  padding-bottom: 9px;
  margin: 20px 0;
  border-bottom: 1px solid #eeeeee;
}
.header .search .input-append {
  margin-top: 20px;
}
.header .search .input-append input {
  font-size: 21px;
}
.header .search input[type="text"] {
  height: 40px;
}
.header .search .btn {
  line-height: 40px;
  font-size: 21px;
}
.header .user .btn-group {
  margin-top: 15px;
}

.content .media {
  margin-bottom: 20px;
}

.negative {
  color: red;
}

/* Hightlight regions */
.region .region-name {
  display: none;
}
.region.highlight {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  border: 1px solid #ddd;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
}
.region.highlight .region-name {
  display: block;
}
