.header .row-fluid {
  padding-bottom: 9px;
  margin: 20px 0;
  border-bottom: 1px solid #eeeeee;
}
.header .search .input-append {
  margin-top: 20px;
}
.header .search .input-append input {
  font-size: 21px;
}
.header .search input[type="text"] {
  height: 40px;
}
.header .search .btn {
  line-height: 40px;
  font-size: 21px;
}
.header .user .btn-group {
  margin-top: 15px;
}

.content .nav-tabs {
  margin-bottom: 20px;
}

.content .media {
  margin-bottom: 20px;
}

.home .row-feature {
  padding-top: 21px;
  padding-bottom: 21px;
}

@media (min-width: 768px) {
  .home .row-feature {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.footer {
  margin-top: 21px;
  padding-top: 21px;
  padding-bottom: 21px;
  border-top: 1px solid #e5e5e5;
}

.negative {
  color: red;
}

/* Hide region names and app version */
.region-name {
  display: none;
}
.app-version {
  display: none;
}
